# Mac OS
.DS_Store

# Node.js
node_modules

# intellij files
.idea/

# VSCode files
.vscode/

# Jekyll Website
_site/

# build output
build/

# staged site files (generated locally and in CI)
/opensearch-openapi.yaml
/main-latest.zip

# coverage output
/coverage/

# log files
/logs/
