name: Verify Changelog
on:
  pull_request:
    types: [edited, labeled, opened, ready_for_review, reopened, review_requested, synchronize, unlabeled]

jobs:
  verify-changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: dangoslen/changelog-enforcer@v3
        with:
          skipLabels: 'autocut, skip-changelog'
