name: CI

on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 
      uses: actions/setup-node@v1  

    - name: Installing node modules
      run: npm install
      working-directory: ./test 


    - name: Installing python modules 
      run: pipenv install
      working-directory: ./test 

    - name: Build the stack
      run: docker-compose up -d         
      shell: bash
      working-directory: ./test     

    - name: Waiting for OpenSearch domain to be up.
      run: |
        counter=1
        for counter in {1..10}
        do
          if [ $(curl -s -o /dev/null --head -w "%{http_code}" 'https://admin:admin@localhost:9200' -H 'Content-Type:application/json' --insecure -v) -ne 200 ]; then
            sleep 30s
          else
            # Waiting for security plugin to be initialised and become operational.
            echo  "Waiting for addtional 30 seconds.. for Opensearch domain to be up."
            sleep 30s
            break 
          fi  
        done
        if [ $counter -eq 11 ]; then
          echo "Unable to connect with OpenSearch URL https://localhost:9200/"
          exit 1
        fi   
      shell: bash
      working-directory: ./test       
   
    - name: Run script file
      run: |
          #  Disabling TLS certificate verfication as hosted on docker.
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          python driver-code.py 
      shell: bash
      working-directory: ./test

