name: Validate Spec

on:
  push:
    branches: ['**']
    paths:
      - 'spec/**'
      - 'src/linter/**'
  pull_request:
    branches: ['**']
    paths:
      - 'spec/**'
      - 'src/linter/**'

jobs:
  lint-spec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20.10.0
      - run: npm install
      - run: |
          npm run lint:spec -- --source ./spec
