name: Test Tools (Integration)

on:
  push:
    branches: ['**']
    paths:
      - 'package*.json'
      - eslint.config.mjs
      - jest.config.js
      - tsconfig.json
      - 'tools/**'
      - '.github/workflows/test-tools*.yml'
  pull_request:
    branches: ['**']
    paths:
      - 'package*.json'
      - eslint.config.mjs
      - jest.config.js
      - tsconfig.json
      - 'tools/**'
      - '.github/workflows/test-tools*.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      OPENSEARCH_VERSION: 2.15.0
      OPENSEARCH_PASSWORD: myStrongPassword123!
      OPENSEARCH_URL: https://localhost:9200
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run OpenSearch Cluster
        working-directory: .github/opensearch-cluster
        run: |
          docker-compose up -d
          sleep 15

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Tests
        run: |
          npm run test:integ -- --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}