name: Test Spec

on:
  push:
    paths:
      - .github/workflows/test-spec.yml
      - package*.json
      - tsconfig.json
      - tools/src/tester/**
      - spec/**
  pull_request:
    paths:
      - .github/workflows/test-spec.yml
      - package*.json
      - tsconfig.json
      - tools/src/tester/**
      - spec/**

jobs:
  test-opensearch-spec:
    strategy:
      matrix:
        entry:
          - {version: 2.0.0, admin_password: admin}
          - {version: 2.15.0}
          - {version: 2.16.0, hub: opensearchstaging}

    name: test-opensearch-spec (version=${{ matrix.entry.version }}, hub=${{ matrix.entry.hub || 'opensearchproject' }})
    runs-on: ubuntu-latest

    env:
      OPENSEARCH_DOCKER_HUB_PROJECT: ${{ matrix.entry.hub || 'opensearchproject' }}
      OPENSEARCH_VERSION: ${{ matrix.entry.version }}
      OPENSEARCH_PASSWORD: ${{ matrix.entry.admin_password || 'myStrongPassword123!' }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Run OpenSearch Cluster
        working-directory: .github/opensearch-cluster
        run: docker-compose up -d

      - name: Run Tests
        run: npm run test:spec -- --opensearch-insecure