name: Validate Spec

on:
  push:
    branches: ['**']
    paths:
      - 'spec/**'
      - 'tools/src/linter/**'
  pull_request:
    branches: ['**']
    paths:
      - 'spec/**'
      - 'tools/src/linter/**'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Lint Spec
        run: npm run lint:spec
